{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}

<div class="centrer_container">
<h1>Un email à été envoyé à : {{userEmail}}</h1>
<a href="/home">Retourner a la page principale</a>
</div>
{% endblock %}

